{% extends "base.html" %}

{% block app_content %}
    <h1>Lets grow more plants!</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.plant_name.label }}<br>
            {{ form.plant_name(cols=32, rows=4) }}<br>
            {% for error in form.plant_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <h1>My owned plants:</h1>
    {% for plant in plants %}
        {% include '_plant.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer plants
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older plants <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}